<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-5" id="cor-received">
            <input type="text"
                   maxlength="2" minlength="2" size="2"
                   class="form-control-lg" id="new-todo"
                   autofocus> / 
            <input type="text"
                   maxlength="2" minlength="2" size="2"
                   class="form-control-lg" id="new-todo"
                   autofocus> /
            <input type="text"
                   maxlength="2" minlength="2" size="2"
                   class="form-control-lg" id="new-todo"
                   autofocus>
          </div>
          <div class="form-group col-5" id="next-court-date">
            <input type="text"
                   maxlength="2" minlength="2" size="2"
                   class="form-control-lg" id="new-todo"
                   autofocus> / 
            <input type="text"
                   maxlength="2" minlength="2" size="2"
                   class="form-control-lg" id="new-todo"
                   autofocus> /
            <input type="text"
                   maxlength="2" minlength="2" size="2"
                   class="form-control-lg" id="new-todo"
                   autofocus>
          </div>
          <div class="form-group col-2" id="add-cor-item">
            {{fa-icon "plus-circle" size="2" class="text-danger" ariaLabel="Add Entry"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
