<main role="main" class="container">
  <div class="row justify-content-center">
    <section id="todoapp">
      <div class="card">
        <div class="card-body">
          <input type="text" id="new-todo" placeholder="What needs to be done?" autofocus>
        </div>
      </div>
      {{outlet}}
    </section>
  </div>
</main>
